
.form-control {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #E3E3E3 !important;
    /*height: 20px !important;*/
    /*padding: 0px 12px !important;*/
    font-size: 16px !important;
    background: transparent !important;
}

.input-group-btn, .dropdown-toggle{
    /*border-bottom: 1px solid #E3E3E3 !important;*/
    background: transparent;
}

.btn-success {
    color: #fff;
    background-color: #323269 !important;
    border-color: #323269 !important;
}

.portlet-title {
    margin-bottom: 20px;
}

.nav-tabs > li {
    margin-bottom: 0px !important;
}

.portlet>.nav-tabs>li.active {
    background: 0 0;
    border-top: 4px solid #303168 !important;
    position: relative;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #323269 !important;
    background-color: #fff !important;
    border: 0px solid #e3e3e3 !important;
    border-bottom: 1px solid #e3e3e3 !important;
    border-top: 4px solid #303168 !important;
    border-right: 1px solid #e3e3e3 !important;
    cursor: pointer;
}

.portlet .tabbable-bordered {
    margin-top: 0px !important;
}

.nav-tabs {
    background: #fff !important;
}

.nav-tabs > li > a {
    color: #323269 !important;
    background-color: #fff !important;
    border-right: 1px solid #e3e3e3 !important;
    border-left: 0px solid #e3e3e3 !important;
    border-bottom: 0px solid #e3e3e3 !important;
    cursor: pointer;
    padding: 10px 24px !important;
    margin-right: 0px !important;
    margin-bottom: -1px !important;
}

.nav-tabs .dropdown-menu {
    margin-top: 0px !important;
    z-index: 999999;
}    

.pull-right > .dropdown-menu {
    right: 19px !important;
}

.dashboard-stat2 {
    text-align: center !important;
    padding: 15px 15px 15px 15px !important;
    margin-bottom: 0px;
    border-top: 4px solid #323269;
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}

.dashboard-stat2 .display .number {
    /* float: left; */
    display: inline-block;
    text-align: center !important;
}

.portlet > .portlet-title {
    border: none !important;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #e7ecf1 !important;
}

.input-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 19px !important;
    padding: 0px 10px !important;
    font-size: 16px !important;
}

.input-icon.input-icon-sm > i {
    margin-top: -2px !important;
}

.btndropborder {
    border: none !important;
}

.caption {
    display: inline;
}

.actions {
    display: inline;
    float: right;
    margin-top: -11px;
}

label {
    margin-bottom: 0px !important;
}

.row-margin {
    margin-top:23px !important;
}

.tiles .tile.double.active {
    border-top: 2px solid #303061 !important;
    border-bottom: 2px solid #303061 !important;
    border-right: 2px solid #303061 !important;
    border-left: 2px solid #FF885D !important;
}

.theme-text-color {
    color: #323269 !important;
    margin-top:10px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e0e0e0 !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e0e0e0 !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e0e0e0 !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e0e0e0 !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}

textarea {
    resize: none !important;
}


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #323269;
}

input:focus + .slider {
  box-shadow: 0 0 1px #323269;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px !important;
}

.slider.round:before {
  border-radius: 50% !important;
}

.dropzone-file-area {
    border: 1px solid #d8d8d8 !important;
    margin: 0 0 !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.dz-default {
    margin-top: 5%;
    margin-bottom: 2%;
}

.icon-top {
    margin-top: -31px !important;
}

.m-grid.m-grid-demo .m-grid-col {
    background: #fff !important;
    height: auto !important;
}

.col-padding {
    padding: 10px;
    border-right: none !important;
    border-left: none !important; 
}

.col-right-border {
    border-right: none !important;
}

.col-left-border {
    border-left: none !important;
}

.about-col {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.color {
    color: #323269;
}

.preview-feature-p {
    font-size: 18px;
    color: #323269;
    margin-left: 40px;
}

.modal { 
   background-color: rgba(50, 50, 105, 0.2) !important; 
}

a {
    text-decoration: none !important;
}

.btn:hover {
    color: #fff !important;
}

.btn-RSS {
    background: #f26522;
    color: #fff;
    border: none;
}

.btn-Facebook {
    background: #3b5998;
    color: #fff;
    border: none;
}

.btn-Twitter {
    background: #1da1f2;
    color: #fff;
    border: none;
}

.btn-Linkedin {
    background: #007bb6;
    color: #fff;
    border: none;
}

.btn-Instagram {
    background: linear-gradient( #400080, transparent), 
                linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    color: #fff;
    border: none;
}

.btn-Instagram:hover {
    background: linear-gradient( #400080, transparent), 
                linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

@media (min-width: 992px) {
    .modal-lg {
        width: 90% !important;
    }

}

.modal-body {
    padding: 35px !important;
}

.box-border{
    border: 1px solid #E3E3E3;
}

.hright {
    border-right : 2px solid #E3E3E3 !important;height: 150px;
}

.color-demo .color-view {
    padding: 7px 23px !important;
    font-size: 12px !important;
}

.color-demo {
    margin: 10px 0 0 0px !important;
}



/*ColorPicker*/

.about {
    overflow: hidden;
    padding: 95px 0 0;
    border-bottom: 1px solid #dfe3ea;
}

.about__inner {
    max-width: 1440px;
    padding: 0 52px;
    margin: 0 auto;
}

.about h2 {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 50px;
}

.about__slider {
    padding-bottom: 70px;
}

.about__slide {
    font-size: 0;
    position: relative;
    padding: 0 0 30px;
    display: none;
}

.about__slide.slick-slide,
.about__slide:first-child {
    display: block
}

.about__slide.slick-active .about__hint {
    transform: translateY(0);
    opacity: 1;
    transition: .35s ease-out
}

.about__slide-in {
    padding: 0 137px;
    position: relative;
}

.about__slide_first .about__hint_first {
    top: 12%;
    right: 1%
}

.about__slide_first .about__hint_second {
    top: 23%;
    left: 1%
}

.about__slide_first .about__hint_third {
    top: 49%;
    right: 1%
}

.about__slide_first .about__hint_fourth {
    top: 66%;
    left: 1%
}

.about__slide_second .about__hint_first {
    top: 13%;
    right: 0
}

.about__slide_second .about__hint_second {
    top: 58%;
    left: 1%
}

.about__slide_second .about__hint_third {
    top: 48%;
    right: 0;
    width: 169px
}

.about__slide_third .about__hint_first {
    top: 26%;
    left: 0;
    width: 164px
}

.about__slide_third .about__hint_second {
    top: 43%;
    left: 0;
    width: 155px
}

.about__slide_third .about__hint_third {
    top: 37.5%;
    right: 0
}

.about__img {
    position: relative;
}

.about__img:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    box-shadow: 0 14px 21px rgba(42, 87, 128, 0.12);
    border-radius: 4px
}

.about__text-box {
    position: absolute;
    top: 58.5%;
    right: -4.4%;
    width: 24.5%;
    transform: translateY(-50%);
    z-index: 2;
}

.about__text-box img {
    width: 100%
}

.about__screen {
    width: 100%;
    position: relative;
    z-index: 1
}

.about__hint {
    position: absolute;
    font-size: 12px;
    color: #2f363f;
    line-height: 1;
    font-family: "FaktSoftPro Medium", Arial, sans-serif;
    width: 155px;
    border-bottom: 1px dashed #2c8bec;
    padding: 1px 0 8px;
    margin-top: -11px;
    transform: translateY(-40px);
    opacity: 0;
    z-index: 3;
}

.about__hint.is-right {
    text-align: right;
}

.about__hint.is-right:before {
    left: -13px;
    right: auto
}

.about__hint:before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border: 2px solid #fff;
    background-color: #2c8bec;
    box-shadow: 0 0 0 1px rgba(44, 138, 236, 0.24);
    box-sizing: border-box;
    border-radius: 50%;
    bottom: -5px;
    right: -13px
}

.about__previews {
    font-size: 0;
    max-width: 564px;
    margin: 0 auto;
    text-align: center;
}

.about__preview {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    cursor: pointer;
    margin-bottom: 24px;
}

.about__preview.is-active .circle:after {
    opacity: 1
}

.about__preview .icon {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle
}

.about__preview .circle {
    padding: 0;
    margin: 0 auto 10px;
    font-size: 0;
    text-align: center;
    position: relative;
}

.about__preview .circle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0
}

.about__preview .circle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .25s ease-out;
    border: 2px solid #338de9;
    opacity: 0;
    border-radius: 50%
}

.about__preview .circle img {
    display: inline-block;
    vertical-align: middle
}

.about__squares {
    width: 23px;
    height: 22px
}

.about__circles {
    width: 22px;
    height: 22px
}

.about__measure {
    width: 23px;
    height: 21px
}

.about__title {
    font-size: 16px;
    line-height: 2;
    font-family: "FaktSoftPro Medium", Arial, sans-serif;
    color: #2f363f;
}

.about__title br {
    display: none;
}

.about__text {
    text-align: center;
    max-width: 540px;
    font-size: 16px;
    line-height: 1.5;
    font-family: "FaktSoftPro Normal", Arial, sans-serif;
    color: #596066;
    margin: 0 auto 32px
}

.hint {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: left;
}

.hint.is-active .hint__info {
    transform: scale(1);
    opacity: 1;
    visibility: visible
}

.hint.is-first .hint__text,
.hint.is-fourth .hint__text {
    top: 100%;
    left: 50%;
    margin: 0 0 0 -96px;
}

.hint.is-first .hint__text:before,
.hint.is-fourth .hint__text:before {
    top: -7px;
    left: 50%;
    margin-left: -6px;
    border-style: solid;
    border-color: transparent transparent #fff;
    border-width: 0 6px 8px
}

.hint.is-second .hint__text,
.hint.is-fifth .hint__text {
    top: 65px;
    left: 100%;
}

.hint.is-second .hint__text:before,
.hint.is-fifth .hint__text:before {
    left: -7px;
    top: 50%;
    margin-top: -6px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 6px 8px 6px 0
}

.hint.is-third .hint__text,
.hint.is-sixth .hint__text {
    top: 50px;
    right: 100%;
}

.hint.is-third .hint__text:before,
.hint.is-sixth .hint__text:before {
    right: -7px;
    top: 50%;
    margin-top: -6px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 6px 0 6px 8px
}

.hint.is-first {
    top: 10.5%;
    left: 15.4%;
}

.hint.is-first .hint__info {
    top: -109px;
    right: -61px;
}

.hint.is-first .hint__info img {
    width: 219px
}

.hint.is-second {
    top: 30.8%;
    left: 4.6%;
}

.hint.is-second .hint__info {
    top: -51px;
    right: -185px;
}

.hint.is-second .hint__info img {
    width: 248px
}

.hint.is-third {
    top: 65.2%;
    left: 32%;
}

.hint.is-third .hint__info {
    top: -78px;
    right: -169px;
}

.hint.is-third .hint__info img {
    width: 218px
}

.hint.is-fourth {
    top: 46.5%;
    left: 64%;
}

.hint.is-fourth .hint__info {
    top: -78px;
    right: -169px;
}

.hint.is-fourth .hint__info img {
    width: 218px
}

.hint.is-fifth {
    top: 12.7%;
    right: 19.9%;
}

.hint.is-fifth .hint__info {
    top: -92px;
    right: -20px;
}

.hint.is-fifth .hint__info img {
    width: 220px
}

.hint.is-sixth {
    top: 27.5%;
    right: 61.8%;
}

.hint.is-sixth .hint__info {
    top: -79px;
    right: -85px;
}

.hint.is-sixth .hint__info img {
    width: 250px
}

.hint.is-seventh {
    top: 36.7%;
    right: 10.8%;
}

.hint.is-seventh .hint__info {
    top: -64px;
    right: -99px;
}

.hint.is-seventh .hint__info img {
    width: 220px
}

.hint__dot {
    z-index: 1;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.hint__dot:before,
.hint__dot span {
    border-radius: 50%;
    background: #178fe6
}

.hint__dot:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    animation: pulse 2s infinite forwards;
    z-index: 1
}

.hint__dot span {
    position: relative;
    z-index: 2;
    width: 24px;
    height: 24px;
    line-height: 1;
    text-align: center;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 14px;
    font-family: "FaktSoftPro Medium", Arial, sans-serif;
    display: block;
    padding: 7px 0 3px
}

.hint__info {
    position: absolute;
    z-index: 3;
    font-size: 0;
    transition: all .2s;
    transform: scale(.8);
    opacity: 0;
    visibility: hidden
}

.hint__text {
    position: absolute;
    background-color: #fff;
    border-radius: 4.5px;
    box-shadow: 0 6px 27px rgba(42, 87, 128, 0.16);
    width: 192px;
    color: #2f363f;
    font-size: 13px;
    line-height: 16px;
    font-family: "FaktSoftPro Normal", Arial, sans-serif;
    padding: 22px 28px 21px;
}

.hint__text:before {
    content: "";
    position: absolute
}



@media only screen and (min-width:768px) {
    
}

@media screen and (min-width:1025px) {
    
}

@media screen and (min-width:1500px) {
    
}

@media screen and (max-width:1500px) {
    .about__inner {
        max-width: 1280px
    }
}

@media screen and (max-width:1250px) {
    
}

@media screen and (max-width:1200px) {
    .about__hint {
        width: 150px
    }
}

@media screen and (max-width:1161px) {
  
}

@media screen and (max-width:1100px) {

}

@media screen and (max-width:1024px) {
   
    .about {
        padding: 40px 0 0
    }
    .about__inner {
        padding: 0 20px;
        max-width: 700px;
        margin: 0 auto
    }
    .about__slider {
        padding-bottom: 30px
    }
    .about__slide {
        margin: 0 -20px
    }
    .about__slide-in {
        padding: 0 30px
    }
    .about__hint {
        display: none
    }
    .hint {
        display: none
    }
}


@media screen and (max-width:480px) {
    .about__previews {
        margin: 0 -20px
    }
   
    .about__text {
        max-width: 300px
    }
}

}


/*5-Column Layout*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.preview-size {
    height:400px; 
    width:430px;
}

.caption-preview {
    width:100% !important;
    background:#000 !important;
}
.captionP {
    width:100% !important;
    bottom: .1rem !important;
    position: absolute !important;
    padding: 25px;
    text-align: center;
    border-top:3px solid #4d4e4d !important;
    background:#000 !important;
}

.thumbnailP {
    border: 0 none !important;
    box-shadow: none !important;
    margin:0 !important;
    padding:0 !important;
    width:100% !important;
    margin-top: -10px !important;
    height:400px !important;
}
.img-responsive {
    width:100% !important;
}

.captionP a {
    -webkit-font-smoothing: antialiased !important;
    margin-right: 20px !important;
}

.captionD {
    width:100% !important;
    bottom: 9rem !important;
    position: absolute !important;
    padding: 25px;
    background:#000 !important;
    background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
}

.captionD h4 {
    -webkit-font-smoothing: antialiased !important;
    font-size: 30px !important;
    color :#fff !important;
}

.captionD p {
    -webkit-font-smoothing: antialiased !important;
    font-size: 18px !important;
    color :#949494 !important;
}

.navbar-preview {
    background: #fff !important;
    padding: 10px;
}

.blog-post-sm {
    background: #fff;
    -webkit-filter: drop-shadow(1px 1px 2px #999);
    filter: drop-shadow(1px 1px 2px #999);
    border-radius: 4px !important;
}

.blog-img-thumb {
    padding-top: 15px !important;
}

.modal-footer {
    padding-top: 0px !important;
    border-top: none !important;
}

.modal-open {
 overflow: auto !important; 
}


/*SCROLL-BAR*/

::-webkit-scrollbar {
    width: 4px !important;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #9C9DC4 !important; 
    border-radius: 0px !important;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0 6px #9C9DC4 !important; 
}


.form-horizontal .form-group {
    margin-left: -15px !important;
    margin-right: 0px !important;
}

.btn-default:hover {
    background: transparent !important;
}


#upload_link{
    text-decoration:none;
}
#upload{
    display:none
}



.table > thead > tr > th {
    color: #323269;
    vertical-align: middle !important;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding: 1px !important;
}

.btn-schedule {
    line-height: 2.44 !important;
    width:100% !important;
}

.datepicker table td {
    color: #323269 !important;
}

.datepicker table tr td.old, .datepicker table tr td.new {
    color: #6666C4 !important;
}

.datepicker table td:hover {
   background: #323269 !important;
   color: #fff !important;
}

.datepicker table th {
    color: #323269 !important;
    font-weight: 600 !important;
}

.datepicker .active {
    background: #323269 !important;
   color: #fff !important;
}

.track-box {
    border: 1px solid #eee;
    height: 100%;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.track-box h4 {
    color: #323269 !important;
}

.track-box a {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #323269 !important;
}

.track-box p {
   margin: 10px 0;
   color: #323269 !important;
}

.hide {
    display: none;
}

.unhide {
    display: block;
}









/* -------------------------------- 

SCHEDULE SECTION

-------------------------------- */

ol, ul {
	list-style: none;
}


.cd-schedule {
  position: relative;
  margin: 2em 0;
}

.cd-schedule::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;
}

.cd-schedule .session li span {
    color: #323269;
    font-weight: bold;
}

.cd-schedule .events .single-event {
    position: relative;
}

.cd-schedule .events .single-event i {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #323269 !important;
    cursor: pointer;
}

.cd-schedule .events .top-info {
    position: relative;
}

.cd-schedule .events .top-info i {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #323269 !important;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .cd-schedule {
    width: 90%;
    max-width: 1400px;
    /*margin: 2em auto;*/
  }
  .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule::before {
    content: 'desktop';
  }
}

.cd-schedule .session {
  display: none;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .session {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  .cd-schedule .session li {
    position: relative;
    height: 50px;
  }
  .cd-schedule .session li::after {
    /* this is used to create the table horizontal lines */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
  }
  .cd-schedule .session li:last-of-type::after {
    display: none;
  }
  .cd-schedule .session li span {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .session li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  .cd-schedule .session li span {
    display: inline-block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .cd-schedule .session li:nth-of-type(2n) span {
    display: none;
  }
}

.cd-schedule .events {
  position: relative;
  z-index: 1;
}

.cd-schedule .events .events-group {
  margin-bottom: 30px;
}

.cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}

.cd-schedule .events .top-info > span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}

.cd-schedule .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  /* force its children to stay on one line */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule .events .events-group > ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}

.cd-schedule .events .single-event {
  /* force them to stay on one line */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  /*box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);*/
  margin-right: 20px;
  -webkit-transition: opacity .2s, background .2s;
  transition: opacity .2s, background .2s;
}

.cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;
}

.cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding: .8em;
}

@media only screen and (min-width: 550px) {
  .cd-schedule .events .single-event {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  .cd-schedule .events .events-group {
    width: 20%;
    float: left;
    border: 1px solid #EAEAEA;
    /* reset style */
    margin-bottom: 0;
  }
  .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  .cd-schedule .events .top-info {
    /* vertically center its content */
    display: table;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    /* reset style */
    padding: 0;
  }
  .cd-schedule .events .top-info > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    /* reset style */
    font-weight: bold;
    margin-bottom: 0;
    color: #323269;
    width: 100%;
  }
  .cd-schedule .events .events-group > ul {
    height: 950px;
    /* reset style */
    display: block;
    overflow: visible;
    padding: 0;
  }
  .cd-schedule .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule .events .events-group > ul::after {
    /* reset style */
    display: none;
  }
  .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* reset style */
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
    border: 1px solid #323269;
    background: #fff;
  }
  .cd-schedule .events .single-event a {
    padding: 1.2em;
  }
  .cd-schedule .events .single-event:last-of-type {
    /* reset style */
    margin-right: 0;
  }
  .cd-schedule .events .single-event.selected-event {
    /* the .selected-event class is added when an user select the event */
    visibility: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .events {
    /* 60px is the .session-time element width */
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
	   it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0;
}

.cd-schedule .event-name,
.cd-schedule .event-date {
  display: block;
  color: #323269;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-schedule .event-name {
  font-size: 2.4rem;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .event-name {
    font-size: 1.6rem;
    font-style: normal;
  }
}

.cd-schedule .event-date {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.4rem;
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}

/*.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg {
  background: #577F92;
}

.cd-schedule .single-event[data-event="event-1"]:hover {
  background: #618da1;
}

.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
  background: #443453;
}

.cd-schedule .single-event[data-event="event-2"]:hover {
  background: #513e63;
}

.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
  background: #A2B9B2;
}

.cd-schedule .single-event[data-event="event-3"]:hover {
  background: #b1c4be;
}

.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}

.cd-schedule .single-event[data-event="event-4"]:hover {
  background: #f7bd7f;
}
*/
.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility .4s, -webkit-transform .4s;
  transition: visibility .4s, -webkit-transform .4s;
  transition: transform .4s, visibility .4s;
  transition: transform .4s, visibility .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.cd-schedule .event-modal .header {
  position: relative;
  height: 70px;
  /* vertically center its content */
  display: table;
  width: 100%;
}

.cd-schedule .event-modal .header .content {
  position: relative;
  z-index: 3;
  /* vertically center inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: .6em 5%;
}

.cd-schedule .event-modal .body {
  position: relative;
  width: 100%;
  /* 70px is the .header height */
  height: calc(100% - 70px);
}

.cd-schedule .event-modal .event-info {
  position: relative;
  z-index: 2;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}

.cd-schedule .event-modal .event-info > div {
  overflow: auto;
  height: 100%;
  padding: 1.4em 5%;
}

.cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
  /* these are the morphing backgrounds - visible on desktop only */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cd-schedule .event-modal .body-bg {
  z-index: 1;
  background: white;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.cd-schedule .event-modal .header-bg {
  z-index: 2;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.cd-schedule .event-modal .close {
  /* this is the 'X' icon */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  /* replace text with icon */
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  height: 70px;
  width: 70px;
}

.cd-schedule .event-modal .close::before, .cd-schedule .event-modal .close::after {
  /* these are the two lines of the 'X' icon */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-schedule .event-modal .close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-schedule .event-modal .close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-schedule .event-modal .event-date {
  display: none;
}

.cd-schedule .event-modal.no-transition {
  -webkit-transition: none;
  transition: none;
}

.cd-schedule .event-modal.no-transition .header-bg, .cd-schedule .event-modal.no-transition .body-bg {
  -webkit-transition: none;
  transition: none;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .event-modal {
    /* reset style */
    right: auto;
    width: auto;
    height: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    will-change: transform, width, height;
    -webkit-transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s;
    transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .cd-schedule .event-modal .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
  .cd-schedule .event-modal .header .content {
    /* reset style */
    display: block;
    padding: .8em;
  }
  .cd-schedule .event-modal .event-info > div {
    padding: 2em 3em 2em 2em;
  }
  .cd-schedule .event-modal .body {
    height: 100%;
    width: auto;
  }
  .cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .cd-schedule .event-modal .header-bg {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  .cd-schedule .event-modal .body-bg {
    opacity: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .cd-schedule .event-modal .event-date {
    display: block;
  }
  .cd-schedule .event-modal .close, .cd-schedule .event-modal .event-info {
    opacity: 0;
  }
  .cd-schedule .event-modal .close {
    width: 40px;
    height: 40px;
    background: transparent;
  }
  .cd-schedule .event-modal .close::after, .cd-schedule .event-modal .close::before {
    background: #222222;
    height: 16px;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .event-modal .header .content {
    padding: 1.2em;
  }
}

.cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.cd-schedule.modal-is-open .event-modal .event-info > div {
  /* smooth scroll on iOS touch devices */
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {
  .cd-schedule.animation-completed .event-modal .close,
  .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    /* 	the .animation-completed class is added when the modal animation is completed
			the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
            transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}

.cd-schedule .cover-layer {
  /* layer between the content and the modal window */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible;
}

.input-group-addon {
    border: none !important;
}