.ajax-file-upload-statusbar {
border: 1px solid #323269;
margin-top: 10px;
width: 420px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 15px
}

.ajax-file-upload-filename {
width: 300px;
height: auto;
margin: 0 5px 5px 0px;

}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #323269;
width: 0;
height: 20px;
border-radius: 0px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
background-color: #e4685d;
border-radius: 30px !important;
display: inline-block;
color: #fff;
font-size: 13px;
font-weight: normal;
padding: 0px 7px;
text-decoration: none;
cursor: pointer;
vertical-align: top;
margin: 7px 0px 0px 0px;
height: 20px;
width: 20px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload {
  padding: 15px 20px;
  cursor:pointer;
  line-height:20px;
  height:25px;
  margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid transparent;
  color: #303061;
  text-decoration: underline;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 transparent;
  -webkit-box-shadow: 0 2px 0 0 transparent;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 0px 0px;
  background: transparent;
  border: none;
  -moz-box-shadow: 0 2px 0 0 transparent;
  -webkit-box-shadow: 0 2px 0 0 transparent;
  box-shadow: 0 2px 0 0 transparent;
  vertical-align: middle;
  }

.ajax-file-upload:hover {
      background: transparent;
      -moz-box-shadow: 0 2px 0 0 transparent;
      -webkit-box-shadow: 0 2px 0 0 transparent;
      box-shadow: 0 2px 0 0 transparent;
}

.ajax-upload-dragdrop
{
  color: #DADCE3;
  text-align:left;
  vertical-align:middle;
  padding:10px 10px 0px 10px;
}

.state-hover
{
    border:2px solid #A5A5C7;
}
.ajax-file-upload-container
{
  margin:20px 0px 20px 0px;
}